<div id="repos">
	<div class="container">
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span7"></div>
			<div class="span3">
				<h1>recently added</h1>
			</div>
			<div class="span1"></div>
		</div>
		<div class="row-fluid">
			<div class="span1"></div>
				<%= link_to(repositories_create_path(@repo_names[0])) do %>
					<div class="span3" id="repo-1">
						<h2><%= @repo_names[0] %></h2>
					</div>
				<% end %>
			<div class="span1"></div>
				<%= link_to(repositories_create_path(@repo_names[1])) do %>
					<div class="span3" id="repo-2">
						<h2><%= @repo_names[1] %></h2>
					</div>
				<% end %>
			<div class="span1"></div>
				<%= link_to(repositories_create_path(@repo_names[2])) do %>
					<div class="span3" id="repo-3">
						<h2><%= @repo_names[2] %></h2>
					</div>
				<% end %>
		</div>

		<div class="row-fluid">
			<div class="span1"></div>
				<%= link_to(repositories_create_path(@repo_names[3])) do %>
					<div class="span3" id="repo-4">
						<h2><%= @repo_names[3] %></h2>
						<p> testing testing</p>
					</div>
				<% end %>
			<div class="span1"></div>
				<%= link_to(repositories_create_path(@repo_names[4])) do %>
					<div class="span3" id="repo-5">
						<h2><%= @repo_names[4] %></h2>
						<p> testing testing</p>
					</div>
				<% end %>
			<div class="span1"></div>
				<%= link_to(repositories_create_path(@repo_names[5])) do %>
					<div class="span3" id="repo-6">
						<h2><%= @repo_names[5] %></h2>
						<p> testing testing</p>
					</div>
				<% end %>
		</div>
	</div>
</div>