<div class="container">
	<div class="row-fluid">
		<div class="span6" id="header">
			<%= image_tag "039_agave_bloom.png", { :height => 150 } %>
			<h1><a href="http://localhost:3000">reposado</a></h1>
			<p>visualizing engagement<br> in open source GitHub repos</p>
		</div>
		<div class="span1"></div>
		<div class="span5" id="search">
			 <%= form_tag('repositories/create', :method => "post",
                :remote => true) do %>
				    			<%= text_field_tag "repo" %>
				    			<%= submit_tag "search repos", :class => 'button' %>
    		<% end %>
		</div>
	</div>
  <div class="row-fluid">
    <div class="span6"></div>
    <div id="errors" class="span6">
    </div>
  </div>
</div>

<div id="results">
    <div class="row-fluid">
      <div id="chart-repo-name" class="span12"></div>
    </div>
  <div class="container">

    <div id="chart-headers" class="row-fluid">
      <div class="span4"><h1>users by commits</h1></div>
      <div class="span4"><h1>response times</h1></div>
      <div class="span4"><h1>word frequency</h1></div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <div id="pie">
        </div>
  		</div>
      <div class="span4">
        <div id="histo">
        </div>
      </div>
      <div class="span4">
        <div id="word_frequency"></div>
      </div>
  	</div>
  </div>
</div>

<div id="repo-gallery">
  <div class="container">
    <div class="row-fluid">
    	<%= render :partial => 'repo', :collection => @repos %>
    </div>
  </div>
</div>

<div class="container">
	<div class="row-fluid">
		<div class="span12"></div>
	</div>
	<div class="row-fluid">
		<div class="span1"></div>
			<div class="span10" id="footer">
				<p>by <a href="http://github.com/arn-e" target="blank">arne</a>,
					<a href="http://github.com/BrianJoyce" target="blank">brian</a>, <a href="http://github.com/joelanders" target="blank">joe</a>, &amp; <a href="http://github.com/malandrina" target="blank">laila</a>.</p>
			</div>
			<div class="span1"></div>
		</div>
	</div>
</div>
